@font-face {
  font-family: "bebas";
  src: url("/asset/Bebas-Regular.otf") format("truetype"); /* Ajuste le chemin selon ta structure de dossier */
}

body {
  background-color: #ffcf03;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "bebas";
}

.card {
  height: 65%;
  width: 30%;
  background-color: white;
  border: solid black 3px;
  box-shadow: 7px 7px 0px rgba(7, 7, 7, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 50px;
  width: 250px;
  margin-top: 60px;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-item {
  font-family: "bebas";
  width: 75%;
  height: 35px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  border: solid black 2px;
  border-radius: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Ajoute une position relative à la div parente */
  overflow: hidden;
  text-decoration: none; /* Enlève le trait sous les liens */
  color: black; /* Définit la couleur du texte en noir */
}
.content-item:hover {
  background-color: #ffcf03; /* Change la couleur de fond au survol */
}

h1 {
  font-size: 27px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.content-item img {
  height: 40px;
  width: auto;
  margin-right: 10px; /* Ajuste cette valeur selon ton besoin */
  margin-left: 0;
}

.content-item span {
  flex-grow: 1; /* Cette propriété permet au texte de prendre autant d'espace que possible */
  text-align: center; /* Centre le texte horizontalement */
  font-family: "bebas";
}

/* Styles pour les écrans de taille moyenne à petite (tablettes et téléphones) */
@media only screen and (max-width: 768px) {
  .card {
    width: 80%; /* Réduis la largeur pour les écrans plus petits */
    border: 2px solid #fff; /* Ajoute une bordure blanche autour de la card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre pour le contraste */
  }

  h1 {
    font-size: 18px; /* Ajuste la taille du texte pour les téléphones et tablettes */
    margin: 10px 0; /* Ajoute une marge pour un meilleur espacement */
  }
}

/* Styles supplémentaires pour les écrans très petits (téléphones) */
@media only screen and (max-width: 480px) {
  .card {
    width: 75%; /* Réduis davantage la largeur pour les écrans très petits */
    height: 55%;
  }

  .content-item {
    margin-bottom: 10px; /* Ajoute une marge en bas des content-items pour les écrans très petits */
  }
}
